<div class="container">
    <mat-icon color="accent">movie</mat-icon>
    <div class="form-container">
        <div class="form">
            <h1 class="form-title">
                Login
            </h1>
            <div class="input-fields">
                <input type="texttext" placeholder="Email Address">
                <input type="texttext" placeholder="password">
            </div>
            <button mat-button class="action-btn">Login to your account</button>
            <span class="switch-auth">
                Don't have an account? <a>Sign up</a>
            </span>
        </div>
    </div>
</div>