<div class="container">
    <mat-icon color="accent">movie</mat-icon>
    <div class="form-container">
        <div class="form">
            <h1 class="form-title">
                Login
            </h1>
            <div class="input-fields">
                <input [(ngModel)]="userCredentials.username" type="texttext" placeholder="Email Address">
                <input [(ngModel)]="userCredentials.password" type="texttext" placeholder="password">
            </div>
            <button (click)="addUser()" mat-button class="action-btn">Login to your account</button>
            <span class="switch-auth">
                Don't have an account? <a (click)="createDb()">Sign up</a>
                <!-- Don't have an account? <a routerLink="/signup">Sign up</a> -->
            </span>
        </div>
    </div>
</div>