<div class="container">
    <div class="row">
        <img class="logo" src="assets/images/logo.svg" alt="" srcset="">
    </div>
    <div class="form-container">
        <div class="form">
            <h1 class="form-title">
                Login
            </h1>
            <div class="input-fields">
                <div class="input-group">
                    <input #email="ngModel" [(ngModel)]="userCredentials.email" type="email" email="true" required="true" placeholder="Email Address">
                    @if (email.touched && email.errors?.['required']) {
                        <span class="error">Can't be empty</span>
                    }
                    @if (email.dirty && email.errors?.['email']){
                        <span class="error">Not a valid Email</span>
                    }
                </div>
                <div class="input-group">
                    <input 
                    #password="ngModel" 
                    required
                    minlength="5"
                    [(ngModel)]="userCredentials.password" 
                    type="password" 
                    placeholder="password">
                    @if (password.touched && password.errors?.['required']){
                        <span class="error">Can't be empty</span>
                    }
                    @if (password.touched && password.value.length >0 && password.errors?.['minlength']) {
                        @if (password.value.length< 5) {
                            <span class="error">Can't be less than 5 characters</span>
                        }
                    }
                </div>
            </div>
            @if (loading) {
                <span class="action-btn loader"></span>
            }@else {
                <button (click)="login()" [disabled]="!(email.valid && password.valid)" mat-button class="action-btn">
                    Login to your account
                </button>
            }
            <span class="switch-auth">
                Don't have an account? <a routerLink="/signup">Sign up</a>
            </span>
        </div>
    </div>
</div>
<p-toast [life]="3000"/>