@use '../../../_partials/variables' as *;
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 56px;
    background-color: $clr-gray-light;
    .inactive-nav{
        fill:#5A698F;
    }
    .active-nav{
        fill:white;
    }
    .profile-img{
        background-image: url('http://localhost:4200/assets/icons/image-avatar.png');
        background-size: cover;
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
}

@media only screen and (min-width: 768px){
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1rem 0;
        border-radius: 20px;
        // margin: 1rem;
        width: 96px;
        height: 100%;
        background-color: $clr-gray-light;
        .nav-icons{
            display: flex;
            flex-direction: column;
            margin-top: 75px;
            gap: 40px;
            button{
                display: grid;
                place-items: center;
            }
        }
        .profile-img{
            margin-top: auto;
            width: 40px;
            height: 40px;
        }
    }
}