    .bookmarked{
        fill:#FFFFFF;
    }
    .not-bookmarked{
        fill:none;
    }

@import '../../../_partials/newmixins';
@import '../../../_partials/variables';

div.recommended-container {
    margin-bottom: 40px;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;

    span.heading {
        @include HeadingL;
    }

    div.fyp-list {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 32px;

        div.fyp-wrapper {
            // width: 280px;
            height: 226px;
            // background: yellow;

            div.recommended-item {
                position: relative;

                img.image {
                    width: 100%;
                    height: 174px;
                    object-fit: cover;
                    border-radius: 8px;
                    margin-bottom: 8px;
                }

                div.bookmark-wrapper {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background: $dark-blue-transparency;
                    position: absolute;
                    z-index: 4;
                    top: 16px;
                    right: 16px;
                    display: grid;
                    place-items: center;
                    cursor: pointer;

                    svg.bookmark-fill {
                        display: none;
                    }
                }

                div.dark-bg {
                    width: 100%;
                    height: 174px;
                    background: transparent;
                    position: absolute;
                    top: 0;
                    display: grid;
                    place-items: center;
                    transition: $btn-transition;
                    cursor: pointer;

                    div.play-btn {
                        @include PlayButtonIdle;
                        transition: $btn-transition;
                    }
                }

                div.dark-bg:hover {
                    // width: 280px;
                    height: 174px;
                    background: $dark-blue-transparency;
                    position: absolute;
                    top: 0;
                    display: grid;
                    place-items: center;

                    div.play-btn {
                        @include PlayButton;
                        @include PlayButtonHovered;
                    }
                }

            }

            div.fyp-info {
                
                div.fyp-rating {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    opacity: .75;

                    span {
                        @include BodyS;
                    }

                    div.circle {
                        @include dot;
                    }

                    svg {
                        scale: .8;

                        path {
                            fill: $pure-white;
                        }
                    }
                }

                span.fyp-name {
                    @include HeadingXS;
                    font-weight: 300;
                }
            }
        }
    }
}



// Media Query 
@media screen and (max-width: 430px) {
    .fyp-wrapper {
        // width: 164px;
        height: 110px;
    }

    img.image {
        // width: 164px;
        height: 110px;
    }
}
@media only screen and (min-width: 768px) {
    div.fyp-list {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media only screen and (min-width: 1026px) {
    div.fyp-list {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}