<div class="container">
    <section class="search">
        <div class="input-group">
            <img src="../../../assets/icons/icon-search.svg" alt="" srcset="">
            <input type="text" class="form-control" placeholder="Search for movies or TV shows, or actors">
        </div>
    </section>
    <section class="trending">
        <h2 class="trending-title">Trending</h2>
        <div class="trending-carousel">
            @for (item of [1,2,3,4,5,6,7,8,9]; track $index) {
                <div class="trending-card">
                    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <div class="card-info">
                        <div class="row mt-1 mrl-1">
                            <button mat-icon-button class="bookmark-icon">
                                <svg width="12" [class]="bookmarked?'bookmarked':'not-bookmarked'" height="14" xmlns="http://www.w3.org/2000/svg"><path d="m10.518.75.399 12.214-5.084-4.24-4.535 4.426L.75 1.036l9.768-.285Z" stroke="#FFF" stroke-width="1.5"/></svg>
                            </button>
                        </div>
                        <div class="mt-auto mrl-1">
                            <div class="row font-gray info-txt-gap mb-0">
                                <span class="movie-year">2019 </span>
                                <div class="separator"></div>
                                <span class="movie-category">
                                    <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.173 0H1.827A1.827 1.827 0 0 0 0 1.827v8.346C0 11.183.818 12 1.827 12h8.346A1.827 1.827 0 0 0 12 10.173V1.827A1.827 1.827 0 0 0 10.173 0ZM2.4 5.4H1.2V4.2h1.2v1.2ZM1.2 6.6h1.2v1.2H1.2V6.6Zm9.6-1.2H9.6V4.2h1.2v1.2ZM9.6 6.6h1.2v1.2H9.6V6.6Zm1.2-4.956V2.4H9.6V1.2h.756a.444.444 0 0 1 .444.444ZM1.644 1.2H2.4v1.2H1.2v-.756a.444.444 0 0 1 .444-.444ZM1.2 10.356V9.6h1.2v1.2h-.756a.444.444 0 0 1-.444-.444Zm9.6 0a.444.444 0 0 1-.444.444H9.6V9.6h1.2v.756Z" fill="#FFF" opacity=".75"/>
                                    </svg>
                                    Movie
                                </span>
                                <span class="movie-class">PG</span>
                            </div>
                            <div class="">
                                <span class="movie-title">Beyond Earth </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
    <section class="recommended"></section>
</div>