// @use '../../../_partials/variables' as *;
// @use '../../../_partials/newmixins' as *;
// .container{
    .bookmarked{
        fill:#FFFFFF;
    }
    .not-bookmarked{
        fill:none;
    }
//     .absolute{
//         position: absolute;
//     }
//     .font-gray{
//         color: $clr-gray-seperator;
//     }
//     .info-txt-gap{
//         gap: 0.5rem;
//     }
//     .mt-auto{
//         margin-top: auto;
//         margin-bottom: 1rem;
//     }
//     .mt-1{
//         margin-top: 1rem;
//     }
//     .mrl-1{
//         margin-right: 1rem;
//         margin-left: 1rem;
//     }
//     .ml-2{
//         margin-left: 1.5rem;
//     }
//     .mb-0{
//         margin-bottom: 0;
//     }
//     .separator{
//         width: 4px;
//         height: 4px;
//         background-color: $clr-gray-seperator;
//         border-radius: 50%;
//     }
//     .search{
//         // .input-group{
//         //     display: flex;
//         //     align-items: center;
//         //     position: relative;
//         //     img{
//         //         position: absolute
//         //     }
//         //     input{
//         //         @include input-style;
//         //         @include input-style;
//         //         width: 100%;
//         //         padding-left:2.5rem;
//         //     }
//         // }
//         @import '../../partials/variables';
// @import '../../partials/mixins';

// div.searh-container {
//     display: flex;
//     align-items: center;
//     gap: 24px;
//     margin-top: 30px;
//     margin-bottom: 34px;

//     input.search-input {
//         @include SearchInputEmpty;
//         width: 100%;
//         padding: 0;
//         margin-bottom: 0;
//         // margin-right: 36px;
//         outline: none;
//     }
//     input.search-input:focus {
//         @include SearchInputActive;
//         width: 100%;
//         padding: 0;
//         margin-bottom: 0;
//         // margin-right: 36px;
//         outline: none;
        
//     }
// }

// // Media Queries
// @media screen and (max-width: 768px) {
//     div.searh-container {
//         // margin-top: 82px;
//         margin-bottom: 24px;

//         svg {
//             // padding-top: 3px;
//             // path {
//             //     scale: .7;
//             // }
//         }
    
//         input.search-input {
//             // font-size: px-to-rem(16);

//         }
//         input.search-input:focus {
//             // font-size: px-to-rem(16);
//         }  
//     }
// }

// @media screen and (max-width: 430px) {
//     div.searh-container {
//         margin-top: 82px;
//         margin-bottom: 24px;

//         svg {
//             padding-top: 3px;
//             path {
//                 scale: .7;
//             }
//         }
    
//         input.search-input {
//             font-size: px-to-rem(16);

//         }
//         input.search-input:focus {
//             font-size: px-to-rem(16);
//         }  
//     }
// }
//     }
//     .card-info{
//         z-index: 2;
//         width: 240px;
//         height: 100%;
//         display: flex;
//         flex-direction: column;
//         .row{
//             display: flex;
//             align-items: center;
//             .bookmark-icon{
//                 margin-left: auto;
//                 width: 37px;
//                 height: 37px;   
//                 background-color: rgba(0, 0, 0, 0.425);
//             }

//         }
//     }
//     .trending{
//         .trending-carousel{
//             display: flex;
//             gap: 1rem;
//             overflow-x: scroll;
//             scrollbar-width: none;
//             -ms-overflow-style: none;
//             // animation: scroll 40s linear infinite;
//             ::-webkit-scrollbar {
//                 display: none;
//               }
//             .trending-card{
//                 width: 240px;
//                 height: 140px;
//                 border-radius: 8px;
//                 background-color: transparent;
//                 position: relative;
//                 flex-shrink: 0;
//                 // z-index: 2;
//                 img{
//                     position: absolute;
//                     width: 240px;
//                     z-index: 1;
//                     height: 140px;
//                     border-radius: 8px;
//                     background-size: cover;
//                     object-fit: cover;
//                 }
                
//             }
//         }
//     }
//     .recommended{
//             display: grid;
//             grid-template-columns: repeat(2, 1fr);
//             grid-template-rows: 1fr;
//             grid-column-gap: 15px;
//             grid-row-gap: 15px;
//         .cards{
//             @include flex(column,flex-start,flex-start);
//             border-radius:$border-radius;
//             @include breakpoint($bp-small){
//                 width: 100%;
//             }
//             &__banner{
//                 position: relative;
//                 width: 100%;
//                 @include breakpoint($bp-small){
//                     width: 100%;
//                 }
        
//                 &--img{
//                     width: 100%;
//                     height: 17.4rem;
//                     @include breakpoint($bp-small){
//                        height: 24rem;
//                     }
//                     border-radius: $border-radius;
//                 }
//                 &--icon{
//                     position: absolute;
//                     width: 4rem;
//                     height: 4rem;
//                     border-radius: 100%;
//                     top:0;
//                     right: 0;
//                     transform: translate(-30%,30%);
//                     background: $color-grayish-blue;
//                     cursor: pointer;
//                     @include flex(row,center,center);
//                 }
//             }
//             &__details{
//                 @include flex(column,flex-start,flex-start);
//                 width:100%;
//                 margin-top: 1rem;
//                 &--title{
//                     font-size: $font-body-S;
//                     font-weight: $font-weight-body-M-S;
//                     margin-bottom: .4rem;
//                 }
//                 &--heading{
//                     font-size: $font-heading-XS;
//                     font-weight: $font-weight-heading-S-XS;
//                 }
//             }
//         }
//     }
// }

// @keyframes scroll {
//     0% {
//         transform: translateX(0); 
//       }
//       25% {
//         transform: translateX(-50%);
//       }
      
//       50% {
//         transform: translateX(0);
//       }
//       75% {
//         transform: translateX(50%);
//       }
//       100% {
//         transform: translateX(0); 
//       }
//   }

//   @media only screen and (min-width: 768px) {
//     .recommended{
//         grid-template-columns: repeat(3, 1fr) !important;
//     }
//   }

//   @media only screen and (min-width: 1028px) {
//     .recommended{
//         grid-template-columns: repeat(4, 1fr) !important;
//     }
//   }


@import '../../../_partials/newmixins';
@import '../../../_partials/variables';

div.recommended-container {
    margin-bottom: 40px;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    overflow-y: scroll;

    span.heading {
        @include HeadingL;
    }

    div.fyp-list {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 32px;

        div.fyp-wrapper {
            // width: 280px;
            height: 226px;
            // background: yellow;

            div.recommended-item {
                position: relative;

                img.image {
                    width: 100%;
                    height: 174px;
                    object-fit: cover;
                    border-radius: 8px;
                    margin-bottom: 8px;
                }

                div.bookmark-wrapper {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background: $dark-blue-transparency;
                    position: absolute;
                    z-index: 4;
                    top: 16px;
                    right: 16px;
                    display: grid;
                    place-items: center;

                    svg.bookmark-stroke {

                    }

                    svg.bookmark-fill {
                        display: none;
                    }
                }

                div.dark-bg {
                    width: 100%;
                    height: 174px;
                    background: transparent;
                    position: absolute;
                    top: 0;
                    display: grid;
                    place-items: center;
                    transition: $btn-transition;
                    cursor: pointer;

                    div.play-btn {
                        @include PlayButtonIdle;
                        transition: $btn-transition;
                    }
                }

                div.dark-bg:hover {
                    // width: 280px;
                    height: 174px;
                    background: $dark-blue-transparency;
                    position: absolute;
                    top: 0;
                    display: grid;
                    place-items: center;

                    div.play-btn {
                        @include PlayButton;
                        @include PlayButtonHovered;
                    }
                }

            }

            div.fyp-info {
                
                div.fyp-rating {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    opacity: .75;

                    span {
                        @include BodyS;
                    }

                    div.circle {
                        @include dot;
                    }

                    svg {
                        scale: .8;

                        path {
                            fill: $pure-white;
                        }
                    }
                }

                span.fyp-name {
                    @include HeadingXS;
                    font-weight: 300;
                }
            }
        }
    }
}



// Media Query 
@media screen and (max-width: 430px) {
    .fyp-wrapper {
        // width: 164px;
        height: 110px;
    }

    img.image {
        // width: 164px;
        height: 110px;
    }
}
@media only screen and (min-width: 768px) {
    div.fyp-list {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media only screen and (min-width: 1026px) {
    div.fyp-list {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}