@use '../../../_partials/variables' as *;
@use '../../../_partials/mixins' as *;

.container {
    @include container-style;
    .row{
      display: flex;
      justify-content: center;
    }
    .form-container {
      @include form-container-style;
  
      .form {
        @include form-style;
  
        .input-fields {
          @include input-fields-style;
          .input-group{
            position: relative;
            display: flex;
            input {
              width: 100%;
              @include input-style;
            }
            input:focus{
              border-bottom: 2px solid $pure-white;
            }
            .error{
              position: absolute;
              right: 0;
              bottom: 10px;
              font-size: small;
              color: $red;
              z-index: 2;
            }
          }
        }
  
        .action-btn {
          @include action-btn-style;
        }
  
        .switch-auth {
          @include switch-auth-style;
        }
      }
    }
  }
  