@import '../../../_partials/newmixins';
@import '../../../_partials/variables';

div.trending-container {
    margin-bottom: 40px;

    span.heading {
        @include HeadingL;
    }
    .bookmarked{
        fill:#FFFFFF;
    }
    .not-bookmarked{
        fill:none;
    }
    div.trending-movie-wrapper {
        display: flex;
        gap: 40px;
        padding-top: 25px;
        width: 100vw;
        position: relative;
        overflow-x: scroll;

        div.trending-item {  
            position: relative;

            img {
                width: 470px;
                height: 230px;
                border-radius: 8px;
                object-fit: cover;
            }
    
            div.image-data {
                position: absolute;
                z-index: 2;
                display: flex;
                flex-direction: column;
                top: 25px;
                // position: relative;
    
                div.bookmark-wrapper {
                    width: 470px;
                    display: flex;
                    justify-content: right;
                    padding-top: 16px;
                    padding-right: 24px;
                    margin-bottom: 106px;
                    position: absolute;
                    z-index: 4;
                    top: -20px;
                    cursor: pointer;

                    
                    div.bm-wrapper-wrapper {
                        width: 32px ;
                        height: 32px;
                        border-radius: 50%;
                        background: $dark-blue-transparency;
                        margin-right: 1rem;
                        display: grid;
                        place-items: center;
                    }
                }
    
                div.movie-rating {

                    div.dark-bg {
                        width: 470px;
                        height: 230px;
                        border-radius: 8px;
                        position: absolute;
                        z-index: 3;
                        top: -25px;
                        left: 0;
                        display: grid;
                        place-items: center;
                        cursor: pointer;
                        transition: $btn-transition;
                        // background: black;

                        div.play-btn {
                            @include PlayButtonIdle;
                            transition: $btn-transition;
                        }
                    }

                    div.dark-bg:hover {
                        width: 470px;
                        height: 230px;
                        background: $dark-blue-transparency;
                        position: absolute;
                        top: -25px;
                        left: 0;
                        display: grid;
                        place-items: center;

                        div.play-btn {
                            @include PlayButton();
                            @include PlayButtonHovered;
                        }
                    }


                    div.info {
                        @include BodyM;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        padding-left: 24px;
                        opacity: .8;
                        position: absolute;
                        z-index: 2;
                        top: 126px;
    
                        div.dot {
                            @include dot;
                        }
    
                        svg.info-movie-svg {
                            scale: .7;
    
                            path {
                                fill: $pure-white;
                                opacity: .5;
                            }
                        }
                    }
                    span.movie-name {
                        @include HeadingS;
                        width: 470px;
                        padding-left: 24px;
                        font-weight: 500;
                        position: absolute;
                        z-index: 2;
                        top: 146px;
                    }
                }
            }

        }
    }
}
