@use './variables' as *;

@mixin base-container-style{
    background-color: #10141E;
    height: 100%;
    color: #ffffff;
}
@mixin container-style {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    place-items: center;
    padding: 0 1.5rem;
    gap: 58px;
    align-content: center;
    @include base-container-style;
    @media (min-width: 768px) {
      margin-top: 88px;
    }
  
    @media (min-width: 1026) {
      margin-top: 78px; 
    }
}

@mixin form-container-style {
  background-color: $semi-dark-blue;
  width: 100%;
  border-radius: 0.5rem;
  max-width: 432px;
}

@mixin form-style {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

@mixin input-fields-style {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}

@mixin input-style {
  color: $pure-white;
  background: transparent;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 1rem;
}

@mixin action-btn-style {
  color: $pure-white;
  background-color: $red;
  padding: 1.5rem 0;
  border: none;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease;

  &:disabled {
    cursor: not-allowed; 
    opacity: 0.6;         
  }
  &:hover{
    background-color: $pure-white;
    color: $dark-blue;
  }
}

@mixin switch-auth-style {
    text-align: center;
  a {
    color: $red;
  }
}
